* {
	box-sizing: border-box;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.main-nav__item {
	display: inline-block;
}

.logo {
	margin: auto;
	display: block;
}

.about-us__item {
	float: left;
	display: inline-block;
	padding: 0 0.5rem;
}

.about-us__item img {
	border-radius: 50%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 700px) {
	.about-us__item {
		max-width: 33%;
	}
}
