* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.centered-text {
	text-align: center;
}

.capitalized-text {
	text-transform: uppercase;
}

.main-nav__item {
	display: inline-block;
}

.logo {
	margin: auto;
	display: block;
}

section {
	clear: both;
}

.container {
	width: 100%;
	padding: 0 2rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
}

.container__medium {
	max-width: 600px;
}

.profile {
	float: left;
	display: inline-block;
	padding: 0 0.5rem;
	text-align: center;
}

.profile__img {
	border-radius: 50%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.say-aloha {
	background-color: #1a6984;
	color: #FFF;
}

.input {
	background: transparent;
	color: #FFF;
	text-transform: uppercase;
	padding: 1rem 0.5rem;
	border: 1px solid #FFF;
	margin-top: 2rem;
}

.input__full-length {
	width: 100%;
}

.input__button {
	margin-right: 0;
}

.input__button::after {
	clear: both;
}

@media screen and (min-width: 600px) {
	.profile {
		max-width: 33%;
	}
}
