* {
	box-sizing: border-box;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.centered-text {
	text-align: center;
}

.capitalized-text {
	text-transform: uppercase;
}

.container {
	width: 100%;
	padding: 0 2rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
}

.main-nav__item {
	display: inline-block;
}

.logo {
	margin: auto;
	display: block;
}

.profile {
	float: left;
	display: inline-block;
	padding: 0 0.5rem;
	text-align: center;
}

.profile__img {
	border-radius: 50%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 600px) {
	.profile {
		max-width: 33%;
	}
}
